/* style for the components */


/* setting the background style for the whole app  */
html, body{
  height: 100%;
  background-color: #a8a8a8;
}

.App {
  text-align: center;
  overflow: repeat;
}

.Home {
    text-align: center;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.headerRow{
    height: 250px;
    background-color: #afd1e4;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.Comp-link {
  color: #61dafb;
}

.homeContainer{
  min-height: 90vh;
  margin: 10px auto;
  margin-bottom: 11em;
  position: relative;
  text-align:center;
}
  /* class to get rid of the padding for some of the bootstrap rows */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.row{
  margin: auto;
  position: relative;
  text-align:center;
}
.Home-header{
  max-height: 15em;
  overflow: hidden;
}

/* class to make the banner image faded */
.faded{
  opacity: 0.6;
  z-index: 0;
}


.search{
height: 40px;
border: none;
border-bottom-left-radius: 4px;
border-top-left-radius: 4px;
font-size: calc(8px + 1.5vmin);
}

.searchBar{
display: inline-flex;
border-radius: 6px;
border: 1.5px gray solid;
height: 44px;
border: 2.5px #828282 solid;
height: 46px;
padding-left: 1px;
}

.backButton{
  position: absolute;
  margin-top: 1em;
  z-index: 1;
  left: 10px;
  background-color: #a8a8a8;
}
.headImage{
  max-height: 20em;
}
.feature{
  padding: 0em;
  margin: 0.5em;
  float:center;
  outline: solid 5px;
  transition: outline 0.2s linear;
  text-align: center;
  font-size: 36px;
  cursor: pointer;
}
.feature:hover{ 
  outline-width: 10px;
}
.featureDiv{
  padding-right: 2.5em;
}

.inspectDiv{
  margin-bottom: 1em;
}

.searchButton{
  height: 40px;
  border-left: none;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.searchButtonInspect{
  position: absolute;
  margin-top: 11em;
}

/* media queries to help make the UI scale for different screen sizes */
@media screen and (min-width: 1201px) and (min-height: 866px){
  .tableSize{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    height: 40em;
  }
  
}

@media screen and (min-width: 1201px) and (min-height: 1500px){
  .tableSize{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    height: 40em;
  }
}

@media screen and (min-width: 1201px) and (max-height: 865px){
  .tableSize{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    height: 40em;
  }
}

@media screen and (max-width: 1201px){
  .tableSize{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    height: 40em;
  }
}

@media screen and (max-width: 438px){
  .tableSize{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    height: 30em;
  }
}

@media screen and (min-width: 439px) and (max-width: 1200px) and (max-height: 1360px){
  .tableSize{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    height: 40em;
  }
}
 
  

